
// --------------------------------------------------
// global

@def-responsive: true;  // bool(true|false)

// --------------------------------------------------
// grid

@def-prefix: true;  // bool(true|false)
@def-suffix: true;  // bool(true|false)
@def-push:   true;  // bool(true|false)
@def-pull:   true;  // bool(true|false)

@def-grid-col-count: 16;

@def-grid-gap-hsize: 20px;
@def-grid-gap-vsize: @def-grid-gap-hsize;

@def-layout-width-list: 768px, 1024px, 1280px, 1440px;
@def-layout-list-index: 2;
@def-layout-subtract-width: @def-grid-gap-hsize;

// --------------------------------------------------
// font

@def-sans-serif: "Helvetica Neue", Helvetica, Roboto, "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
@def-serif: Georgia, "Times New Roman", Times, serif;

@def-sans-serif-CJK: "Hiragino Sans GB", "WenQuanYi Micro Hei", STHeiti, "Microsoft YaHei", sans-serif;
@def-serif-CJK: NSimSun, SimSun, PMingLiU, MingLiU, \5B8B\4F53, serif;

@def-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
   
@def-font-face: @def-sans-serif-CJK;

@def-font-size: 14px;

@def-font-size-h1: floor(@def-font-size * 2.43);	// 34px
@def-font-size-h2: floor(@def-font-size * 1.43);	// 20px 
@def-font-size-h3: floor(@def-font-size * 1.15);	// 16px
@def-font-size-h4: @def-font-size;
@def-font-size-h5:  ceil(@def-font-size * 0.83);	// 12px
@def-font-size-h6:  ceil(@def-font-size * 0.67);	// 10px

@def-line-height: unit(@def-grid-gap-vsize / @def-font-size); 

// --------------------------------------------------
// color

@def-color: #000;
@def-bg-color: #fff;
@def-highlight-color: @def-color;
@def-highlight-bg-color: #ff0;
