
@import "../less-grid";
@import (less) "color-scheme";
@import (reference) "pygments-manni";

html,
body {
    border:0;
    padding: 0;
    margin: 0;
    overflow:auto;
}

.row {
    .bc-midnight-blue();
}

.box {
    .bc-asbestos();
}

.col {
    .bc-pumpkin();
}
