
* {
	&,
	&:before,
	&:after {
		margin: 0;
		box-sizing: border-box;
	}
}

html {
	font-size: 10px;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: @def-page-color;
	&:extend(.ex-auto-scroll);
}

body {
	&:extend(.ex-reset);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    &:extend(.ex-block);
}

img,
audio,
video,
canvas,
progress {
    &:extend(.ex-inline-block);
}

img {
    &:extend(.ex-no-border);
    -ms-interpolation-mode: bicubic;
}

template {
    &:extend(.ex-none);
}

audio:not([controls]) {
    display: none;
    height: 0;
}

svg:not(:root) {
    &:extend(.ex-no-scroll);
}

.selection({
	text-shadow: none;
	color: @def-highlight-color;
	background: @def-highlight-bk-color;
});
