
input,
button,
select,
textarea {
	&:extend(
		.ex-reset,
		.ex-inline-block
	);
}

optgroup {
    &:extend(
		.ex-reset,
		.ex-b
	);
}

textarea {
    &:extend(.ex-auto-scroll);
}

input {
    &[type="checkbox"],
    &[type="radio"]  {
        padding: 0;
        *height: 13px;
        *width : 13px;
    }
    &[type="search"] {
		&:extend(.ex-border-box);
        -webkit-appearance: textfield;
        &::-webkit-search-cancel-button,
        &::-webkit-search-decoration {
            -webkit-appearance: none;
        }
    }
    &[type="number"] {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            height: auto;
        }
    }
}

[hidden]{
    &:extend(.ex-none);
}

[disabled],
.disabled {
    -moz-user-focus: ignore;
	-moz-user-input: disabled; 
	cursor: not-allowed@it;
	.opacity(@def-mix-value-hint);
}

:invalid {
	box-shadow: none;
}
:-moz-submit-invalid {
	box-shadow: none;
}
:-moz-ui-invalid {
	box-shadow: none;
}

::-moz-focus-inner {
    border : 0;
    padding: 0;
	outline: 0;
}

::-ms-clear {
	display: none;
}

fieldset {
    &:extend(
        .ex-padding-l,
        .ex-border-radius-l
    );
	min-width: 0;
	border: @def-border-width-m solid @def-gray-divider;
}

legend {
	color: @def-color-secondary;
    *margin-left: -7px;
    &:extend(
		.ex-hn,
		.ex-h3,
        .ex-no-border,
        .ex-padding-s,
		.ex-ellipsis
    );
}
