<!DOCTYPE html><html lang="zh"><head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>
{% if page.title == 'blank' %}
  {{ site.trademark }}
{% else %}
  {{ page.title }} &middot; {{ site.trademark }}
{% endif %}    
</title>

<link rel="stylesheet" href="css/less-grid.css">
<link rel="stylesheet" href="css/doc.css">
<script src="js/respond.min.js"></script>

<meta name="description" content="">

</head><body>