.btn,
.int {
  padding: 6px 14px;
}
.btn-l {
  padding: 10px 22px;
}
.btn-m {
  padding: 5px 12px;
}
.btn-s {
  padding: 2px 6px;
}
.btn,
.int {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.btn-l {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
.btn-m {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.btn-s {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.fl,
.int {
  width: 100%;
}
img,
audio,
video,
canvas,
progress,
.hl > li,
input,
button,
select,
textarea,
.btn,
.int {
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.tr,
.tr > li,
.td {
  display: table;
  *display: inline-block;
  -display: inline;
  zoom: 1;
}
.a,
a {
  vertical-align: baseline;
  display: inline;
  zoom: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
.nl a,
.ll a {
  display: block;
}
template,
[hidden] {
  display: none;
}
hr {
  visibility: hidden;
}
body,
input,
button,
select,
textarea,
optgroup {
  font-style: normal;
  text-transform: none;
  color: #34495e;
  font-size: 14px;
  font-family: "Hiragino Sans GB", "WenQuanYi Micro Hei", STHeiti, "Microsoft YaHei", sans-serif;
  line-height: 1.42857143;
}
.accent,
.accent.a,
em {
  color: #e74c3c;
}
.weak,
.weak.a {
  color: #95a5a6;
}
.code,
pre,
kbd,
code,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
b,
strong,
dt,
optgroup {
  font-weight: bold;
}
i,
dfn {
  font-style: italic;
}
em {
  font-style: normal;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}
.h4,
h4,
.btn {
  font-size: 14px;
}
.h1,
h1 {
  font-size: 34px;
}
.h2,
h2 {
  font-size: 20px;
}
.h3,
h3,
.btn-l {
  font-size: 16px;
}
small,
.h5,
h5,
.btn-m {
  font-size: 12px;
}
.h6,
h6,
.btn-s {
  font-size: 10px;
}
html,
pre,
textarea,
textarea.int {
  overflow: auto;
  white-space: normal;
}
.break-word,
.beautify,
pre {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}
.ellipsis,
dt,
.btn,
.int {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  content: ".";
  font: 0/0 serif;
  overflow: hidden;
}
hr,
img,
.a,
a,
legend,
.btn {
  border: 0;
}
.tr,
.tr > li,
.td,
hr,
.a,
a,
.hl,
.vl,
menu,
legend,
td,
th {
  padding: 0;
}
.hr,
.hr-t {
  margin-top: 20px;
}
.hr,
.hr-b {
  margin-bottom: 20px;
}
ul,
ol,
.vl .vl,
menu .vl,
.vl menu,
menu menu {
  padding: 0 0 0 2em;
}
.a,
a {
  background: transparent;
}
.tb {
  margin-left: auto;
  margin-right: auto;
}
.btn {
  text-align: center;
}
dt.col {
  text-align: right;
}
.beautify {
  text-align: justify;
  text-justify: newspaper;
}
sub,
sup {
  vertical-align: baseline;
}
.tr > li,
.td,
sub,
sup {
  position: relative;
}
.a,
a,
.btn {
  cursor: pointer;
}
.btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.br,
.tr:before,
.tr:after {
  content: ".";
  font: 0/0 serif;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.br,
.tr:after {
  clear: both;
}
.tr,
.tr > li,
.td {
  zoom: 1;
  min-height: 1;
  margin-left: -20px;
  margin-top: -20px;
}
.tr > li,
.td {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
}
hr {
  *margin: -7px 0;
  height: 20px;
}
.td16 {
  width: 940px;
}
.td15 {
  width: 880px;
}
.prefix15 {
  margin-left: 920px;
}
.suffix15 {
  margin-right: 920px;
}
.push15 {
  left: 900px;
}
.pull15 {
  right: 900px;
}
.td14 {
  width: 820px;
}
.prefix14 {
  margin-left: 860px;
}
.suffix14 {
  margin-right: 860px;
}
.push14 {
  left: 840px;
}
.pull14 {
  right: 840px;
}
.td13 {
  width: 760px;
}
.prefix13 {
  margin-left: 800px;
}
.suffix13 {
  margin-right: 800px;
}
.push13 {
  left: 780px;
}
.pull13 {
  right: 780px;
}
.td12 {
  width: 700px;
}
.prefix12 {
  margin-left: 740px;
}
.suffix12 {
  margin-right: 740px;
}
.push12 {
  left: 720px;
}
.pull12 {
  right: 720px;
}
.td11 {
  width: 640px;
}
.prefix11 {
  margin-left: 680px;
}
.suffix11 {
  margin-right: 680px;
}
.push11 {
  left: 660px;
}
.pull11 {
  right: 660px;
}
.td10 {
  width: 580px;
}
.prefix10 {
  margin-left: 620px;
}
.suffix10 {
  margin-right: 620px;
}
.push10 {
  left: 600px;
}
.pull10 {
  right: 600px;
}
.td9 {
  width: 520px;
}
.prefix9 {
  margin-left: 560px;
}
.suffix9 {
  margin-right: 560px;
}
.push9 {
  left: 540px;
}
.pull9 {
  right: 540px;
}
.td8 {
  width: 460px;
}
.prefix8 {
  margin-left: 500px;
}
.suffix8 {
  margin-right: 500px;
}
.push8 {
  left: 480px;
}
.pull8 {
  right: 480px;
}
.td7 {
  width: 400px;
}
.prefix7 {
  margin-left: 440px;
}
.suffix7 {
  margin-right: 440px;
}
.push7 {
  left: 420px;
}
.pull7 {
  right: 420px;
}
.td6 {
  width: 340px;
}
.prefix6 {
  margin-left: 380px;
}
.suffix6 {
  margin-right: 380px;
}
.push6 {
  left: 360px;
}
.pull6 {
  right: 360px;
}
.td5 {
  width: 280px;
}
.prefix5 {
  margin-left: 320px;
}
.suffix5 {
  margin-right: 320px;
}
.push5 {
  left: 300px;
}
.pull5 {
  right: 300px;
}
.td4 {
  width: 220px;
}
.prefix4 {
  margin-left: 260px;
}
.suffix4 {
  margin-right: 260px;
}
.push4 {
  left: 240px;
}
.pull4 {
  right: 240px;
}
.td3 {
  width: 160px;
}
.prefix3 {
  margin-left: 200px;
}
.suffix3 {
  margin-right: 200px;
}
.push3 {
  left: 180px;
}
.pull3 {
  right: 180px;
}
.td2 {
  width: 100px;
}
.prefix2 {
  margin-left: 140px;
}
.suffix2 {
  margin-right: 140px;
}
.push2 {
  left: 120px;
}
.pull2 {
  right: 120px;
}
.td1 {
  width: 40px;
}
.prefix1 {
  margin-left: 80px;
}
.suffix1 {
  margin-right: 80px;
}
.push1 {
  left: 60px;
}
.pull1 {
  right: 60px;
}
@media (min-width: 1400px) {
  .td16 {
    width: 1356px;
  }
  .td15 {
    width: 1270px;
  }
  .prefix15 {
    margin-left: 1310px;
  }
  .suffix15 {
    margin-right: 1310px;
  }
  .push15 {
    left: 1290px;
  }
  .pull15 {
    right: 1290px;
  }
  .td14 {
    width: 1184px;
  }
  .prefix14 {
    margin-left: 1224px;
  }
  .suffix14 {
    margin-right: 1224px;
  }
  .push14 {
    left: 1204px;
  }
  .pull14 {
    right: 1204px;
  }
  .td13 {
    width: 1098px;
  }
  .prefix13 {
    margin-left: 1138px;
  }
  .suffix13 {
    margin-right: 1138px;
  }
  .push13 {
    left: 1118px;
  }
  .pull13 {
    right: 1118px;
  }
  .td12 {
    width: 1012px;
  }
  .prefix12 {
    margin-left: 1052px;
  }
  .suffix12 {
    margin-right: 1052px;
  }
  .push12 {
    left: 1032px;
  }
  .pull12 {
    right: 1032px;
  }
  .td11 {
    width: 926px;
  }
  .prefix11 {
    margin-left: 966px;
  }
  .suffix11 {
    margin-right: 966px;
  }
  .push11 {
    left: 946px;
  }
  .pull11 {
    right: 946px;
  }
  .td10 {
    width: 840px;
  }
  .prefix10 {
    margin-left: 880px;
  }
  .suffix10 {
    margin-right: 880px;
  }
  .push10 {
    left: 860px;
  }
  .pull10 {
    right: 860px;
  }
  .td9 {
    width: 754px;
  }
  .prefix9 {
    margin-left: 794px;
  }
  .suffix9 {
    margin-right: 794px;
  }
  .push9 {
    left: 774px;
  }
  .pull9 {
    right: 774px;
  }
  .td8 {
    width: 668px;
  }
  .prefix8 {
    margin-left: 708px;
  }
  .suffix8 {
    margin-right: 708px;
  }
  .push8 {
    left: 688px;
  }
  .pull8 {
    right: 688px;
  }
  .td7 {
    width: 582px;
  }
  .prefix7 {
    margin-left: 622px;
  }
  .suffix7 {
    margin-right: 622px;
  }
  .push7 {
    left: 602px;
  }
  .pull7 {
    right: 602px;
  }
  .td6 {
    width: 496px;
  }
  .prefix6 {
    margin-left: 536px;
  }
  .suffix6 {
    margin-right: 536px;
  }
  .push6 {
    left: 516px;
  }
  .pull6 {
    right: 516px;
  }
  .td5 {
    width: 410px;
  }
  .prefix5 {
    margin-left: 450px;
  }
  .suffix5 {
    margin-right: 450px;
  }
  .push5 {
    left: 430px;
  }
  .pull5 {
    right: 430px;
  }
  .td4 {
    width: 324px;
  }
  .prefix4 {
    margin-left: 364px;
  }
  .suffix4 {
    margin-right: 364px;
  }
  .push4 {
    left: 344px;
  }
  .pull4 {
    right: 344px;
  }
  .td3 {
    width: 238px;
  }
  .prefix3 {
    margin-left: 278px;
  }
  .suffix3 {
    margin-right: 278px;
  }
  .push3 {
    left: 258px;
  }
  .pull3 {
    right: 258px;
  }
  .td2 {
    width: 152px;
  }
  .prefix2 {
    margin-left: 192px;
  }
  .suffix2 {
    margin-right: 192px;
  }
  .push2 {
    left: 172px;
  }
  .pull2 {
    right: 172px;
  }
  .td1 {
    width: 66px;
  }
  .prefix1 {
    margin-left: 106px;
  }
  .suffix1 {
    margin-right: 106px;
  }
  .push1 {
    left: 86px;
  }
  .pull1 {
    right: 86px;
  }
}
@media (min-width: 1240px) and (max-width: 1399px) {
  .td16 {
    width: 1196px;
  }
  .td15 {
    width: 1120px;
  }
  .prefix15 {
    margin-left: 1160px;
  }
  .suffix15 {
    margin-right: 1160px;
  }
  .push15 {
    left: 1140px;
  }
  .pull15 {
    right: 1140px;
  }
  .td14 {
    width: 1044px;
  }
  .prefix14 {
    margin-left: 1084px;
  }
  .suffix14 {
    margin-right: 1084px;
  }
  .push14 {
    left: 1064px;
  }
  .pull14 {
    right: 1064px;
  }
  .td13 {
    width: 968px;
  }
  .prefix13 {
    margin-left: 1008px;
  }
  .suffix13 {
    margin-right: 1008px;
  }
  .push13 {
    left: 988px;
  }
  .pull13 {
    right: 988px;
  }
  .td12 {
    width: 892px;
  }
  .prefix12 {
    margin-left: 932px;
  }
  .suffix12 {
    margin-right: 932px;
  }
  .push12 {
    left: 912px;
  }
  .pull12 {
    right: 912px;
  }
  .td11 {
    width: 816px;
  }
  .prefix11 {
    margin-left: 856px;
  }
  .suffix11 {
    margin-right: 856px;
  }
  .push11 {
    left: 836px;
  }
  .pull11 {
    right: 836px;
  }
  .td10 {
    width: 740px;
  }
  .prefix10 {
    margin-left: 780px;
  }
  .suffix10 {
    margin-right: 780px;
  }
  .push10 {
    left: 760px;
  }
  .pull10 {
    right: 760px;
  }
  .td9 {
    width: 664px;
  }
  .prefix9 {
    margin-left: 704px;
  }
  .suffix9 {
    margin-right: 704px;
  }
  .push9 {
    left: 684px;
  }
  .pull9 {
    right: 684px;
  }
  .td8 {
    width: 588px;
  }
  .prefix8 {
    margin-left: 628px;
  }
  .suffix8 {
    margin-right: 628px;
  }
  .push8 {
    left: 608px;
  }
  .pull8 {
    right: 608px;
  }
  .td7 {
    width: 512px;
  }
  .prefix7 {
    margin-left: 552px;
  }
  .suffix7 {
    margin-right: 552px;
  }
  .push7 {
    left: 532px;
  }
  .pull7 {
    right: 532px;
  }
  .td6 {
    width: 436px;
  }
  .prefix6 {
    margin-left: 476px;
  }
  .suffix6 {
    margin-right: 476px;
  }
  .push6 {
    left: 456px;
  }
  .pull6 {
    right: 456px;
  }
  .td5 {
    width: 360px;
  }
  .prefix5 {
    margin-left: 400px;
  }
  .suffix5 {
    margin-right: 400px;
  }
  .push5 {
    left: 380px;
  }
  .pull5 {
    right: 380px;
  }
  .td4 {
    width: 284px;
  }
  .prefix4 {
    margin-left: 324px;
  }
  .suffix4 {
    margin-right: 324px;
  }
  .push4 {
    left: 304px;
  }
  .pull4 {
    right: 304px;
  }
  .td3 {
    width: 208px;
  }
  .prefix3 {
    margin-left: 248px;
  }
  .suffix3 {
    margin-right: 248px;
  }
  .push3 {
    left: 228px;
  }
  .pull3 {
    right: 228px;
  }
  .td2 {
    width: 132px;
  }
  .prefix2 {
    margin-left: 172px;
  }
  .suffix2 {
    margin-right: 172px;
  }
  .push2 {
    left: 152px;
  }
  .pull2 {
    right: 152px;
  }
  .td1 {
    width: 56px;
  }
  .prefix1 {
    margin-left: 96px;
  }
  .suffix1 {
    margin-right: 96px;
  }
  .push1 {
    left: 76px;
  }
  .pull1 {
    right: 76px;
  }
}
@media (min-width: 984px) and (max-width: 1239px) {
  .td16 {
    width: 940px;
  }
  .td15 {
    width: 880px;
  }
  .prefix15 {
    margin-left: 920px;
  }
  .suffix15 {
    margin-right: 920px;
  }
  .push15 {
    left: 900px;
  }
  .pull15 {
    right: 900px;
  }
  .td14 {
    width: 820px;
  }
  .prefix14 {
    margin-left: 860px;
  }
  .suffix14 {
    margin-right: 860px;
  }
  .push14 {
    left: 840px;
  }
  .pull14 {
    right: 840px;
  }
  .td13 {
    width: 760px;
  }
  .prefix13 {
    margin-left: 800px;
  }
  .suffix13 {
    margin-right: 800px;
  }
  .push13 {
    left: 780px;
  }
  .pull13 {
    right: 780px;
  }
  .td12 {
    width: 700px;
  }
  .prefix12 {
    margin-left: 740px;
  }
  .suffix12 {
    margin-right: 740px;
  }
  .push12 {
    left: 720px;
  }
  .pull12 {
    right: 720px;
  }
  .td11 {
    width: 640px;
  }
  .prefix11 {
    margin-left: 680px;
  }
  .suffix11 {
    margin-right: 680px;
  }
  .push11 {
    left: 660px;
  }
  .pull11 {
    right: 660px;
  }
  .td10 {
    width: 580px;
  }
  .prefix10 {
    margin-left: 620px;
  }
  .suffix10 {
    margin-right: 620px;
  }
  .push10 {
    left: 600px;
  }
  .pull10 {
    right: 600px;
  }
  .td9 {
    width: 520px;
  }
  .prefix9 {
    margin-left: 560px;
  }
  .suffix9 {
    margin-right: 560px;
  }
  .push9 {
    left: 540px;
  }
  .pull9 {
    right: 540px;
  }
  .td8 {
    width: 460px;
  }
  .prefix8 {
    margin-left: 500px;
  }
  .suffix8 {
    margin-right: 500px;
  }
  .push8 {
    left: 480px;
  }
  .pull8 {
    right: 480px;
  }
  .td7 {
    width: 400px;
  }
  .prefix7 {
    margin-left: 440px;
  }
  .suffix7 {
    margin-right: 440px;
  }
  .push7 {
    left: 420px;
  }
  .pull7 {
    right: 420px;
  }
  .td6 {
    width: 340px;
  }
  .prefix6 {
    margin-left: 380px;
  }
  .suffix6 {
    margin-right: 380px;
  }
  .push6 {
    left: 360px;
  }
  .pull6 {
    right: 360px;
  }
  .td5 {
    width: 280px;
  }
  .prefix5 {
    margin-left: 320px;
  }
  .suffix5 {
    margin-right: 320px;
  }
  .push5 {
    left: 300px;
  }
  .pull5 {
    right: 300px;
  }
  .td4 {
    width: 220px;
  }
  .prefix4 {
    margin-left: 260px;
  }
  .suffix4 {
    margin-right: 260px;
  }
  .push4 {
    left: 240px;
  }
  .pull4 {
    right: 240px;
  }
  .td3 {
    width: 160px;
  }
  .prefix3 {
    margin-left: 200px;
  }
  .suffix3 {
    margin-right: 200px;
  }
  .push3 {
    left: 180px;
  }
  .pull3 {
    right: 180px;
  }
  .td2 {
    width: 100px;
  }
  .prefix2 {
    margin-left: 140px;
  }
  .suffix2 {
    margin-right: 140px;
  }
  .push2 {
    left: 120px;
  }
  .pull2 {
    right: 120px;
  }
  .td1 {
    width: 40px;
  }
  .prefix1 {
    margin-left: 80px;
  }
  .suffix1 {
    margin-right: 80px;
  }
  .push1 {
    left: 60px;
  }
  .pull1 {
    right: 60px;
  }
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
*,
*:before,
*:after {
  margin: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
}
img {
  -ms-interpolation-mode: bicubic;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
::-moz-selection {
  text-shadow: none;
  color: #ffffff;
  background: #95a5a6;
}
::selection {
  text-shadow: none;
  color: #ffffff;
  background: #95a5a6;
}
sub,
sup {
  line-height: 0;
  font-size: 75%;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title] {
  cursor: help;
  font-variant: none;
  border-bottom: 1px dotted;
}
mark {
  color: #ffffff;
  background: #95a5a6;
}
.a,
a {
  color: #1abc9c;
  text-decoration: none;
}
.a:hover,
a:hover,
.a:focus,
a:focus,
.a:active,
a:active {
  background: transparent;
  text-decoration: underline;
  outline: 0;
}
.a:hover,
a:hover,
.a:focus,
a:focus {
  color: #e74c3c;
}
.a:active,
a:active {
  color: #c44133;
}
.a[disabled],
a[disabled],
.a.disabled,
a.disabled,
.a[disabled]:hover,
a[disabled]:hover,
.a.disabled:hover,
a.disabled:hover,
.a[disabled]:focus,
a[disabled]:focus,
.a.disabled:focus,
a.disabled:focus,
.a[disabled]:active,
a[disabled]:active,
.a.disabled:active,
a.disabled:active {
  text-decoration: none;
  color: #6b6b6b;
}
.hl,
.vl,
menu {
  list-style: none;
  list-style-image: none;
}
.ll > li {
  width: 100%;
  *width: auto;
}
.ll a {
  *float: left;
  *clear: left;
  width: 100%;
}
.hl > li {
  width: auto;
}
dl {
  margin-bottom: 0;
  margin-top: -20px;
}
dd {
  margin-left: 0;
}
dt {
  margin-top: 20px;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[disabled],
.disabled {
  -moz-user-input: disabled;
  -moz-user-focus: ignore;
  -moz-user-modify: read-only;
  -webkit-user-modify: read-only;
  cursor: not-allowed;
  zoom: 1;
  opacity: 0.26;
  filter: alpha(opacity=26);
}
:invalid {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
:-moz-submit-invalid {
  -moz-box-shadow: none;
       box-shadow: none;
}
:-moz-ui-invalid {
  -moz-box-shadow: none;
       box-shadow: none;
}
::-moz-focus-inner {
  border: 0;
  padding: 0;
}
::-ms-clear {
  display: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  white-space: normal;
  *margin-left: -7px;
}
.btn {
  color: #ffffff;
  background-color: #1abc9c;
  -webkit-transition: color .25s linear, background-color .25s linear;
     -moz-transition: color .25s linear, background-color .25s linear;
       -o-transition: color .25s linear, background-color .25s linear;
          transition: color .25s linear, background-color .25s linear;
}
.btn,
.btn:hover,
.btn:focus,
.btn:active {
  outline: 0;
  text-decoration: none;
  background-image: none;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #3cc6ab;
}
.btn:active {
  color: #ffffff;
  background-color: #16a085;
}
.btn.checked,
.btn.checked:hover,
.btn.checked:focus,
.btn.checked:active {
  color: #ffffff;
  background-color: #138b73;
}
.btn-grayscale {
  color: #ffffff;
  background-color: #95a5a6;
}
.btn-grayscale:hover,
.btn-grayscale:focus {
  color: #ffffff;
  background-color: #a5b3b3;
}
.btn-grayscale:active {
  color: #ffffff;
  background-color: #7f8c8d;
}
.btn-grayscale.checked,
.btn-grayscale.checked:hover,
.btn-grayscale.checked:focus,
.btn-grayscale.checked:active {
  color: #ffffff;
  background-color: #6e7a7b;
}
.btn-accent {
  color: #ffffff;
  background-color: #e74c3c;
}
.btn-accent:hover,
.btn-accent:focus {
  color: #ffffff;
  background-color: #eb6759;
}
.btn-accent:active {
  color: #ffffff;
  background-color: #c44133;
}
.btn-accent.checked,
.btn-accent.checked:hover,
.btn-accent.checked:focus,
.btn-accent.checked:active {
  color: #ffffff;
  background-color: #ab382c;
}
.btn-default {
  color: #ffffff;
  background-color: #34495e;
}
.btn-default:hover,
.btn-default:focus {
  color: #ffffff;
  background-color: #526476;
}
.btn-default:active {
  color: #ffffff;
  background-color: #2c3e50;
}
.btn-default.checked,
.btn-default.checked:hover,
.btn-default.checked:focus,
.btn-default.checked:active {
  color: #ffffff;
  background-color: #263646;
}
.btn.disabled,
.btn[disabled],
.btn.disabled:hover,
.btn[disabled]:hover,
.btn.disabled:focus,
.btn[disabled]:focus,
.btn.disabled:active,
.btn[disabled]:active {
  color: #ffffff;
  background-color: #6b6b6b;
}
.int {
  font-size: 12px;
  resize: none;
  -moz-resize: none;
  -webkit-transition: border-color .25s linear;
     -moz-transition: border-color .25s linear;
       -o-transition: border-color .25s linear;
          transition: border-color .25s linear;
}
.int:-ms-input-placeholder {
  color: #bdc3c7;
}
.int::-webkit-input-placeholder {
  color: #bdc3c7;
}
.int::-moz-placeholder {
  opacity: 1;
  color: #bdc3c7;
}
.int,
.int[readonly],
.int[readonly]:focus {
  background: #ffffff;
  color: #34495e;
  border: 2px solid #bdc3c7;
}
.int:focus {
  outline: 0;
  color: #34495e;
  border-color: #1abc9c;
}
.invalid {
  color: #e74c3c;
}
.int.invalid {
  border-color: #e74c3c;
}
.valid {
  color: #2ecc71;
}
.int.valid {
  border-color: #2ecc71;
}
.int[disabled],
.int[disabled]:focus {
  color: #494949;
  border-color: #c2c2c2;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
