.end,
.row:before,
.row:after {
  content: ".";
  font: 0/0 serif;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.end,
.row:after {
  clear: both;
}
.row,
.col {
  zoom: 1;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -20px;
}
.col {
  float: left;
  margin-left: 20px;
}
.box {
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 1568px) {
  .col16 {
    width: 1564px;
  }
  .col15 {
    width: 1465px;
  }
  .col14 {
    width: 1366px;
  }
  .col13 {
    width: 1267px;
  }
  .col12 {
    width: 1168px;
  }
  .col11 {
    width: 1069px;
  }
  .col10 {
    width: 970px;
  }
  .col9 {
    width: 871px;
  }
  .col8 {
    width: 772px;
  }
  .col7 {
    width: 673px;
  }
  .col6 {
    width: 574px;
  }
  .col5 {
    width: 475px;
  }
  .col4 {
    width: 376px;
  }
  .col3 {
    width: 277px;
  }
  .col2 {
    width: 178px;
  }
  .col1 {
    width: 79px;
  }
}
@media (min-width: 1408px) and (max-width: 1567px) {
  .col16 {
    width: 1404px;
  }
  .col15 {
    width: 1315px;
  }
  .col14 {
    width: 1226px;
  }
  .col13 {
    width: 1137px;
  }
  .col12 {
    width: 1048px;
  }
  .col11 {
    width: 959px;
  }
  .col10 {
    width: 870px;
  }
  .col9 {
    width: 781px;
  }
  .col8 {
    width: 692px;
  }
  .col7 {
    width: 603px;
  }
  .col6 {
    width: 514px;
  }
  .col5 {
    width: 425px;
  }
  .col4 {
    width: 336px;
  }
  .col3 {
    width: 247px;
  }
  .col2 {
    width: 158px;
  }
  .col1 {
    width: 69px;
  }
}
@media (min-width: 1248px) and (max-width: 1407px) {
  .col16 {
    width: 1244px;
  }
  .col15 {
    width: 1165px;
  }
  .col14 {
    width: 1086px;
  }
  .col13 {
    width: 1007px;
  }
  .col12 {
    width: 928px;
  }
  .col11 {
    width: 849px;
  }
  .col10 {
    width: 770px;
  }
  .col9 {
    width: 691px;
  }
  .col8 {
    width: 612px;
  }
  .col7 {
    width: 533px;
  }
  .col6 {
    width: 454px;
  }
  .col5 {
    width: 375px;
  }
  .col4 {
    width: 296px;
  }
  .col3 {
    width: 217px;
  }
  .col2 {
    width: 138px;
  }
  .col1 {
    width: 59px;
  }
}
@media (min-width: 992px) and (max-width: 1247px) {
  .col16 {
    width: 988px;
  }
  .col15 {
    width: 925px;
  }
  .col14 {
    width: 862px;
  }
  .col13 {
    width: 799px;
  }
  .col12 {
    width: 736px;
  }
  .col11 {
    width: 673px;
  }
  .col10 {
    width: 610px;
  }
  .col9 {
    width: 547px;
  }
  .col8 {
    width: 484px;
  }
  .col7 {
    width: 421px;
  }
  .col6 {
    width: 358px;
  }
  .col5 {
    width: 295px;
  }
  .col4 {
    width: 232px;
  }
  .col3 {
    width: 169px;
  }
  .col2 {
    width: 106px;
  }
  .col1 {
    width: 43px;
  }
}
@media (max-width: 991px) {
  .col16 {
    width: 988px;
  }
  .col15 {
    width: 925px;
  }
  .col14 {
    width: 862px;
  }
  .col13 {
    width: 799px;
  }
  .col12 {
    width: 736px;
  }
  .col11 {
    width: 673px;
  }
  .col10 {
    width: 610px;
  }
  .col9 {
    width: 547px;
  }
  .col8 {
    width: 484px;
  }
  .col7 {
    width: 421px;
  }
  .col6 {
    width: 358px;
  }
  .col5 {
    width: 295px;
  }
  .col4 {
    width: 232px;
  }
  .col3 {
    width: 169px;
  }
  .col2 {
    width: 106px;
  }
  .col1 {
    width: 43px;
  }
}
/*
@media screen and (max-width: 400px) {
    @-ms-viewport {
        width: 320px;
    }
}
@-ms-viewport {
    width: device-width;
}
*/
