article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
.row,
.col {
  display: block;
}
input,
button,
select,
textarea,
img,
audio,
video,
canvas,
progress {
  vertical-align: baseline;
  *vertical-align: middle;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
[hidden],
template {
  display: none;
}
hr {
  height: 0;
}
b,
strong,
optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
svg:not(:root) {
  overflow: hidden;
}
html,
textarea,
pre {
  overflow: auto;
}
img,
legend {
  border: 0;
}
form,
figure {
  margin: 0;
}
td,
th,
legend {
  padding: 0;
}
a {
  background: transparent;
}
input[type="checkbox"],
input[type="radio"],
.row,
.col {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
hr,
input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.box {
  margin: 0 auto;
}
sub,
sup {
  vertical-align: baseline;
}
sub,
sup {
  position: relative;
}
html {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body,
input,
button,
select,
textarea,
optgroup {
  color: #000;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  margin: 0;
}
img {
  -ms-interpolation-mode: bicubic;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
blockquote {
  margin: 1em 40px;
}
p,
pre {
  margin: 1em 0;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre,
kbd,
code,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  white-space: normal;
  *margin-left: -7px;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
html input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
html input[disabled],
button[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.end,
.row:before,
.row:after {
  content: ".";
  font: 0/0 serif;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.end,
.row:after {
  clear: both;
}
.row,
.col {
  zoom: 1;
  margin-left: -20px;
}
.col {
  float: left;
  margin-left: 20px;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.col16 {
  width: 988px;
}
.col15 {
  width: 925px;
}
.col14 {
  width: 862px;
}
.col13 {
  width: 799px;
}
.col12 {
  width: 736px;
}
.col11 {
  width: 673px;
}
.col10 {
  width: 610px;
}
.col9 {
  width: 547px;
}
.col8 {
  width: 484px;
}
.col7 {
  width: 421px;
}
.col6 {
  width: 358px;
}
.col5 {
  width: 295px;
}
.col4 {
  width: 232px;
}
.col3 {
  width: 169px;
}
.col2 {
  width: 106px;
}
.col1 {
  width: 43px;
}
@media (min-width: 1408px) {
  .col16 {
    width: 1404px;
  }
  .col15 {
    width: 1315px;
  }
  .col14 {
    width: 1226px;
  }
  .col13 {
    width: 1137px;
  }
  .col12 {
    width: 1048px;
  }
  .col11 {
    width: 959px;
  }
  .col10 {
    width: 870px;
  }
  .col9 {
    width: 781px;
  }
  .col8 {
    width: 692px;
  }
  .col7 {
    width: 603px;
  }
  .col6 {
    width: 514px;
  }
  .col5 {
    width: 425px;
  }
  .col4 {
    width: 336px;
  }
  .col3 {
    width: 247px;
  }
  .col2 {
    width: 158px;
  }
  .col1 {
    width: 69px;
  }
}
@media (min-width: 1248px) and (max-width: 1407px) {
  .col16 {
    width: 1244px;
  }
  .col15 {
    width: 1165px;
  }
  .col14 {
    width: 1086px;
  }
  .col13 {
    width: 1007px;
  }
  .col12 {
    width: 928px;
  }
  .col11 {
    width: 849px;
  }
  .col10 {
    width: 770px;
  }
  .col9 {
    width: 691px;
  }
  .col8 {
    width: 612px;
  }
  .col7 {
    width: 533px;
  }
  .col6 {
    width: 454px;
  }
  .col5 {
    width: 375px;
  }
  .col4 {
    width: 296px;
  }
  .col3 {
    width: 217px;
  }
  .col2 {
    width: 138px;
  }
  .col1 {
    width: 59px;
  }
}
@media (min-width: 992px) and (max-width: 1247px) {
  .col16 {
    width: 988px;
  }
  .col15 {
    width: 925px;
  }
  .col14 {
    width: 862px;
  }
  .col13 {
    width: 799px;
  }
  .col12 {
    width: 736px;
  }
  .col11 {
    width: 673px;
  }
  .col10 {
    width: 610px;
  }
  .col9 {
    width: 547px;
  }
  .col8 {
    width: 484px;
  }
  .col7 {
    width: 421px;
  }
  .col6 {
    width: 358px;
  }
  .col5 {
    width: 295px;
  }
  .col4 {
    width: 232px;
  }
  .col3 {
    width: 169px;
  }
  .col2 {
    width: 106px;
  }
  .col1 {
    width: 43px;
  }
}
@media (max-width: 735px) {
  .col16 {
    width: 732px;
  }
  .col15 {
    width: 685px;
  }
  .col14 {
    width: 638px;
  }
  .col13 {
    width: 591px;
  }
  .col12 {
    width: 544px;
  }
  .col11 {
    width: 497px;
  }
  .col10 {
    width: 450px;
  }
  .col9 {
    width: 403px;
  }
  .col8 {
    width: 356px;
  }
  .col7 {
    width: 309px;
  }
  .col6 {
    width: 262px;
  }
  .col5 {
    width: 215px;
  }
  .col4 {
    width: 168px;
  }
  .col3 {
    width: 121px;
  }
  .col2 {
    width: 74px;
  }
  .col1 {
    width: 27px;
  }
}
.fc-concrete {
  color: #95a5a6;
}
.bc-asbestos {
  background-color: #7f8c8d;
}
.fc-alizarin {
  color: #e74c3c;
}
.bc-pomegranate {
  background-color: #c0392b;
}
.fc-carrot {
  color: #e67e22;
}
.bc-pumpkin {
  background-color: #d35400;
}
.fc-wet-asphalt {
  color: #34495e;
}
.bc-midnight-blue {
  background-color: #2c3e50;
}
.fc-amethyst {
  color: #9b59b6;
}
.bc-wisteria {
  background-color: #8e44ad;
}
.fc-peter-river {
  color: #3498db;
}
.bc-belize-hole {
  background-color: #2980b9;
}
.fc-emerald {
  color: #2ecc71;
}
.bc-nephritis {
  background-color: #27ae60;
}
html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: auto;
}
.row {
  background-color: #2c3e50;
}
.box {
  background-color: #7f8c8d;
}
.col {
  background-color: #d35400;
}
