
@it: !important;

.ex-block {
    display: block;
}

.ex-inline-block {
    vertical-align: baseline;
    *vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.ex-none {
    display: none;
}

.ex-hide {
    visibility: hidden;
}

.ex-heightless {
    height: 0;
}

.ex-b {
    font-weight: bold;
}

.ex-i {
    font-style: italic;
}

.ex-scrollless {
    overflow: hidden;
}

.ex-auto-scroll {
    overflow: auto;
}

.ex-no-border  {
    border: 0;
}

.ex-no-margin  {
    margin: 0;
}

.ex-no-padding {
    padding: 0;
}

.ex-transparent {
    background: transparent;
}

.ex-border-box  {
    box-sizing:  border-box;
}

.ex-content-box {
    box-sizing: content-box;
}

.ex-center-block {
    margin: 0 auto;
}

.ex-center {
    text-align: center;
}

.ex-baseline {
    vertical-align: baseline;
}

.ex-relative {
    position: relative;
}
