
@it: !important;

// --------------------------------------------------
// display & visibility

.ex-block {
    display: block;
}

.ex-inline-block {
    vertical-align: baseline;
    *vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.ex-none {
    display: none;
}

.ex-hide {
    visibility: hidden;
}

.ex-heightless {
    height: 0;
}

// --------------------------------------------------
// font

.ex-code {
    font-family: @def-monospace;
}

.ex-b {
    font-weight: bold;
}

.ex-i {
    font-style: italic;
}

.ex-normal {
    font-style : normal;
    font-weight: normal;
}

.ex-h1 {
    font-size: @def-font-size-h1;
}
.ex-h2 {
    font-size: @def-font-size-h2;
}
.ex-h3 {
    font-size: @def-font-size-h3;
}
.ex-h4 {
    font-size: @def-font-size-h4;
}
.ex-h5 {
    font-size: @def-font-size-h5;
}
.ex-h6 {
    font-size: @def-font-size-h6;
}

// --------------------------------------------------
// overflow

.ex-scrollless {
    overflow: hidden;
}

.ex-auto-scroll {
    overflow: auto;
}

.ex-break-word {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
}

.ex-keep-word {
	word-wrap: normal;
	overflow-wrap: normal;
	word-break: normal;
}

.ex-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// --------------------------------------------------
// border, margin, padding

.ex-no-border  {
    border: 0;
}

.ex-no-margin  {
    margin: 0;
}

.ex-no-padding {
    padding: 0;
}

.ex-gap-t {
    margin-top   : @def-grid-gap-vsize;
}

.ex-gap-b {
    margin-bottom: @def-grid-gap-vsize;
}

.ex-list-indent {
	padding: 0 0 0 3em;
}

// --------------------------------------------------
// background

.ex-transparent {
    background: transparent;
}

// --------------------------------------------------
// box-sizing

.ex-border-box  {
    box-sizing:  border-box;
}

.ex-content-box {
    box-sizing: content-box;
}

// --------------------------------------------------
// align

.ex-center-block {
    margin: 0 auto;
}

.ex-center {
    text-align: center;
}

.ex-right {
    text-align: right;
}

.ex-justify {
    text-align: justify;
    text-justify: newspaper;
}

.ex-justify-CJK {
    text-align: justify;
    text-justify: distribute;
}

.ex-baseline {
    vertical-align: baseline;
}

// --------------------------------------------------
// position

.ex-relative {
    position: relative;
}
