
a {
    &:extend(.ex-transparent);
	color: @def-link-color;
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
	    &:extend(.ex-transparent);
	    outline: 0;
	    text-decoration: underline;
	}
	&:hover,
	&:focus {      
	    color: @def-link-hover-color;
	}
	&:active{
	    color: @def-link-active-color;
	}
}
