
@it: !important;

.mx-opacity(@a: 100) {  // 1 - 100
    *zoom: 1;
    opacity: @a / 100;
    filter: ~"alpha(opacity=@{a})";
}

.mx-btn() {
	&:extend(
		.ex-h4,
		.ex-border-box,
		.ex-no-border,
		.ex-pointer,
		.ex-no-select,
		.ex-inline-block,
		.ex-center,
		.ex-ellipsis,
		.ex-padding,
		.ex-border-radius
	);
}

.mx-float() {
	&:extend(.ex-float);
}

.mx-inline-block() {
	&:extend(.ex-inline-block);
}

.mx-center-block(@center-child) {
	&:extend(.ex-center);
	@{center-child} {
		&:extend(.ex-center-block);
	}
}

.mx-small-height(@height) {
	&:extend(.ex-no-font);
	height: @height;
}

.mx-min-width (@min-width,  @use-important: false) {
	width:  @min-width;
	min-width:  @min-width;
	& when (@use-important = true) {
		width:  auto !important;
	}
	& when (@use-important = false) {
		html>body & {
			width:  auto;
		}
	}
}

.mx-min-height(@min-height, @use-important: false) {
	height: @min-height;
	min-height: @min-height;
	& when (@use-important = true) {
		height: auto !important;
	}
	& when (@use-important = false) {
		html>body & {
			height: auto;
		}
	}
}
