
@import "demo";

.tb {
	color: @white;
    &:extend(
		.ex-h6,
		.ex-code
	);
}

.td {
	min-height:  @def-grid-gap-vsize;
	line-height:  @def-grid-gap-vsize;
}

#grid01 {
    .td {
        &:extend(.turquoise-bc);
    }
}

#grid02 {
    .td {
        &:extend(.emerald-bc);
    }
}

#grid03 {
    .td {
        &:extend(.carrot-bc);
    }
}

#grid04 {
    .td {
        &:extend(.peter-river-bc);
        .td {
            &:extend(.orange-bc);
            .td {
                &:extend(.sun-flower-bc);
            }
        }
    }
}

#grid05 {
    .td {
        &:extend(.peter-river-bc);
    }
    [class*=push] {
        &:extend(.orange-bc);
    }
    [class*=pull] {
        &:extend(.sun-flower-bc);
    }
}
